<h1>WHAT'S A MOUSE?</h1>
<h3>Learn everything you need to know about computer soft- and hardware. Click on the images for information to pop up on your screen!</h3>

<div class="card-deck">
  <div class="card">
           <button type="button" class="btn btn-link" data-toggle="modal" data-target=".bd-example-modal-lg"> <img src="/img/monitors.jpg" class="card-img-top" alt="keyboard" width="150px" height="150px"></button>
          <div class="card-body">
            <h5 class="card-title">MONITORS</h5>
            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2" aria-hidden="true">
               <div class="modal-dialog modal-lg" role="document">
                 <div class="modal-content">
                   <h1><p class="gaptime">MONITORS</p></h1>
                   <p class="gaptime">A computer monitor is an output device that displays information in pictorial form. A monitor usually comprises the display device, circuitry, casing, and power supply. The display device in modern monitors is typically a thin film transistor liquid crystal display (TFT-LCD) with LED backlighting having replaced cold-cathode fluorescent lamp (CCFL) backlighting. Older monitors used a cathode ray tube (CRT). Monitors are connected to the computer via VGA, Digital Visual Interface (DVI), HDMI, DisplayPort, Thunderbolt, low-voltage differential signaling (LVDS) or other proprietary connectors and signals.Originally, computer monitors were used for data processing while television sets were used for entertainment. From the 1980s onwards, computers (and their monitors) have been used for both data processing and entertainment, while televisions have implemented some computer functionality. </p>
                   <img src="/img/monitorsbanner.png" alt="monitorsbanner" class="card-img-top">
                   <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   </div>
                 </div>
               </div>
             </div>
          </div>
        </div>
             
             <div class="card">
    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal"> <img src="/img/key.jpg" class="card-img-top" alt="keyboard" width="150px" height="150px"></button>
   <div class="card-body">
     <h5 class="card-title">KEYBOARDS</h5>
     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <h1><p class="gaptime">KEYBOARDS</p></h1>
            <p class="gaptime">A computer keyboard is a typewriter-style device which uses an arrangement of buttons or keys to act as mechanical levers or electronic switches. Following the decline of punch cards and paper tape, interaction via teleprinter-style keyboards became the main input method for computers. Keyboard keys (buttons) typically have characters engraved or printed on them, and each press of a key typically corresponds to a single written symbol. However, producing some symbols may require pressing and holding several keys simultaneously or in sequence. While most keyboard keys produce letters, numbers or signs (characters), other keys or simultaneous key presses can produce actions or execute computer commands. </p>
            <img src="/img/keyboardbanner.png" alt="keyboardsbanner" class="card-img-top">
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
   </div>
 </div>
      
 <div class="card">
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal2"> <img src="/img/mouses2.jpg" class="card-img-top" alt="mouse" width="150px" height="150px"></button>
    
         <div class="card-body">
           <h5 class="card-title">THE MOUSE</h5>
           <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <h1><p class="gaptime">THE MOUSE</p></h1>
                <p class="gaptime">A computer mouse (plural mice or mouses) is a hand-held pointing device that detects two-dimensional motion relative to a surface. This motion is typically translated into the motion of a pointer on a display, which allows a smooth control of the graphical user interface of a computer.The first public demonstration of a mouse controlling a computer system was in 1968. Mice originally used a ball rolling on a surface to detect motion, but modern mice often have optical sensors that have no moving parts. Originally wired to a computer, many modern mice are cordless, relying on short-range radio communication with the connected system. In addition to moving a cursor, computer mice have one or more buttons to allow operations such as selection of a menu item on a display. </p>
                <img src="/img/micebanner.png" alt="micebanner" class="card-img-top">
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
         </div>
       </div>
           
       <div class="card">
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal3">  <img src="/img/printer.jpg" class="card-img-top" alt="printer" width="150px" height="150px"></button>
                
                  <div class="card-body">
                    <h5 class="card-title">PRINTERS</h5>
                    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content">
                            <h1><p class="gaptime">PRINTERS</p></h1>
                            <p class="gaptime">Personal printers are primarily designed to support individual users, and may be connected to only a single computer. These printers are designed for low-volume, short-turnaround print jobs, requiring minimal setup time to produce a hard copy of a given document. However, they are generally slow devices ranging from 6 to around 25 pages per minute (ppm), and the cost per page is relatively high. However, this is offset by the on-demand convenience. Some printers can print documents stored on memory cards or from digital cameras and scanners. Networked or shared printers are "designed for high-volume, high-speed printing". They are usually shared by many users on a network and can print at speeds of 45 to around 100 ppm. </p>
                            <img src="/img/printerbanner.png" alt="printersbanner" class="card-img-top">
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
               
                     </div>
                     <div class="card">
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal4">  <img src="/img/speakersjpg.jpg" class="card-img-top" alt="mouse" width="150px" height="150px"></button>
                        
                          <div class="card-body">
                            <h5 class="card-title">SPEAKERS</h5>
                            <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                  <div class="modal-content">
                                    <h1><p class="gaptime">SPEAKERS</p></h1>
                                    <p class="gaptime">Computer speakers, or multimedia speakers, are speakers sold for use with computers, although usually capable of other audio uses, e.g. for an MP3 player. Most such speakers have an internal amplifier and consequently require a power source, which may be by a mains power supply often via an AC adapter, batteries, or a USB port. The signal input connector is often a 3.5 mm jack plug (usually color-coded lime green per the PC 99 standard); RCA connectors are sometimes used, and a USB port may supply both signal and power (requiring additional circuitry, and only suitable for use with a computer). Battery-powered wireless Bluetooth speakers require no connections at all.</p>
                                    <img src="/img/speakersbanner.png" alt="speakersbanner" class="card-img-top">
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                        </div>
                            
                        <div class="card">
                                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal5">  <img src="/img/usb.jpg" class="card-img-top" alt="mouse" width="150px" height="150px"></button>
                                    
                                  <div class="card-body">
                                    <h5 class="card-title">USB STICKS</h5>
                                    <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                          <div class="modal-content">
                                              <h1><p class="gaptime">USB STICKS</p></h1>
                                            <p class="gaptime">A USB flash drive is a device used for data storage that includes a flash memory and an integrated Universal Serial Bus (USB) interface. Most USB flash drives are removable and rewritable. Physically, they are small, durable and reliable. ... A USB flash drive may also be known as a flash drive or USB drive. The Universal Serial Bus was developed to simplify and improve the interface between personal computers and peripheral devices, when compared with previously existing standard or ad-hoc proprietary interfaces.From the computer user's perspective, the USB interface improved ease of use in several ways. The USB interface is self-configuring, so the user need not adjust settings on the device and interface for speed or data format, or configure interrupts, input/output addresses, or direct memory access channels.</p>
                                            <img src="/img/usbbanner.png" alt="usbbanner" class="card-img-top">
                                      


                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                  </div>
                                
                                     </div>
                           
                              </div>
                              <br>

                              <hr> 
                              <div class="container">
                                  <div class="header">
                                      <div><img src="/img/comment3.png" width="50px" height="50px"></div>
                                      <div class="text"><p class="yes">Leave a Comment</p></div>
                                  </div>
                              
                                  <form method="POST" action="/postComment">
                                      <div class="form-row">
                                        <div class="form-group col-md-4 mb-3">
                                          <label for="inputEmail4">Name</label>
                                          <input type="text"
                                          class="form-control"
                                          id="name"
                                          placeholder="name"
                                          name="name"
                                          required
                                          value="<%= typeof name != 'undefined' ? name : '' %>">
                                        </div>
                                        <div class="form-group col-md-4 mb-3">
                                          <label for="inputPassword4">Comment</label>
                                          <input type="text"
                                          class="form-control"
                                          id="comment"
                                          placeholder="comment"
                                          name="comment"
                                          required
                                          value="<%= typeof comment != 'undefined' ? comment : '' %>">
                                        </div>
                                      </div>
                                       
                                      <button type="submit" class="btn btn-primary">Do it!</button>
                                     
                                 
                                    </form>
                                  </div>
                                  <div class="detailBox">
                                    <% commentejs.forEach(function(comment) { %>
                                    <div class="actionBox">
                                        <ul class="commentList">
                                            <li>
                                                <div class="commenterImage">
                                                    <img src="/img/profile.png">
                                                </div>
                                                <div class="commentText">
                                                    <h5><%= comment.name %></h5>
                                                    <p class=""><%= comment.comment%></p> <span class="date sub-text">on <%= comment.date.toDateString()%></span>
                                
                                                </div>
                                            </li>
                                            
                                             
                                        </ul>
                                        
                              
                                    </div>
                                    <% }) %>
                                </div>