<script>
    $(document).ready(function(){
      
        $(".popover-right").popover({
            placement : 'right',
            trigger: 'focus'
        });
     
    });
    </script>

<script>
    $(document).ready(function(){
      
        $(".popover-right2").popover({
            placement : 'right',
            trigger: 'focus'
        });
     
    });
    </script>

<script>
    $(document).ready(function(){
      
        $(".popover-right3").popover({
            placement : 'right',
            trigger: 'focus'
        });
     
    });
    </script>

<script>
    $(document).ready(function(){
      
        $(".popover-right4").popover({
            placement : 'right',
            trigger: 'focus'
        });
     
    });
    </script>

<script>
    $(document).ready(function(){
      
        $(".popover-right5").popover({
            placement : 'right',
            trigger: 'focus'
        });
     
    });
    </script>

<script>
  $(document).ready(function(){
    
      $(".popover-right6").popover({
          placement : 'right',
          trigger: 'focus'
      });
   
  });
  </script>

    

<div class="container">

    <h1>WHAT'S STREAMING?</h1>
    <h3>Streaming is accessing TV, film, and music through various content platforms by playing video and audio through your broadband connection. The level of streaming you can perform depends on the data you have in your broadband package. If you have unlimited streaming, you can access and use any of these platforms and use them at any time. Click on the images for information, click again to close the popover.</h3>
    <BR>
 
        <h3>Streaming Platforms</h3>
       <br>

       <div class="card-deck col-md-8 mx-auto">

        <div class="card">
          <button type="button" class="btn popover-right" data-toggle="popover" data-trigger="focus" title="NETFLIX" data-content="Netflix is the world's leading streaming entertainment service with over 167 million paid memberships in over 190 countries enjoying TV series, documentaries and feature films across a wide variety of genres and languages. Members can watch as much as they want, anytime, anywhere, on any internet-connected screen. Netflix's most basic plan will now be $8.99 per month, up from $7.99, while its Standard plan with HD quality, the company's most popular offering, will increase from $10.99 to $12.99, the company says. Its Premium plan will rise to $15.99 from $13.99."> <img src="/img/netflix.jpg" class="card-img-top" alt="NETFLIX"></button>

          <div class="card-body">
            <h5 class="card-title">NETFLIX</h5>
        </div>

        </div>

        <div class="card">
          <button type="button" class="btn popover-right2" data-toggle="popover" data-trigger="focus" title="Prime Video" data-content="Prime Video is a video streaming service that's included in your Amazon Prime membership. You can watch thousands of titles on Prime Video at no additional cost — including many award-winning movies and critically acclaimed original TV series. Prime Video membership is $8.99 a month. Prime Video is included in a Prime membership. The membership fee for Amazon Prime is $119 per year or $12.99 per month."> <img src="/img/amazon.png" class="card-img-top" alt="amazon"></button>
          <div class="card-body">
            <h5 class="card-title">AMAZON PRIME</h5>
        </div>
        </div>
        <div class="card">
          <button type="button" class="btn popover-right3" data-toggle="popover" data-trigger="focus" title="HULU" data-content="Hulu is the leading premium streaming service offering live and on-demand TV and movies, with and without commercials, both in and outside the home. Launched in 2008, Hulu is the only service that gives viewers instant access to current shows from every major U.S. broadcast network; libraries of hit TV series and films; and acclaimed Hulu Originals, live news, entertainment and sports from 21st Century Fox, The Walt Disney Company, NBCUniversal, CBS Corporation, The CW, Turner Networks, A+E Networks and Discovery Networks – available all in one place. Hulu offers four levels of service: Basic ($5.99 per month), Premium ($11.99 per month, Basic + Live TV ($54.99 per month), and Premium + Live TV ($60.99 per month). Hulu Basic is ad-supported, while Premium is almost completely ad-free."> <img src="/img/hulu.jpg" class="card-img-top" alt="hulu"></button>
         
          <div class="card-body">
            <h5 class="card-title">HULU</h5>
        </div>
      </div>  
       </div>


       <div class="card-deck col-md-8 mx-auto">

        <div class="card">
          <button type="button" class="btn popover-right4" data-toggle="popover" data-trigger="focus" title="Popover title" data-content="HBO on Demand is a selection of HBO's best programming available through your set-top box with your pay TV subscription. This selection is usually over 150 hours of programming, but does vary by TV provider. If you have questions about the availability of HBO On Demand, contact your TV provider. Pricing—HBO NOW costs $14.99 per month, whether you subscribe through the app on your devices or purchase it as an add-on from another service like Hulu. HBO GO is technically free, but you need an HBO subscription from your cable provider to use it."> <img src="/img/hbo.jpg" class="card-img-top" alt="hbo"></button>

          <div class="card-body">
            <h5 class="card-title">HBO</h5>
        </div>

        </div>

        <div class="card">
          <button type="button" class="btn popover-right5" data-toggle="popover" data-trigger="focus" title="Spotify" data-content="Spotify is a digital music streaming service that gives you access to millions of songs, podcasts and videos from artists all over the world. Spotify is immediately appealing because you can access content for free by simply signing up using an email address or by connecting with Facebook. The price for the Spotify Premium Plan is $9.99/month. The Spotify Family Plan allows five users to access a single account for $14.99."> <img src="/img/spotify.png" class="card-img-top" alt="spotify"></button>
          <div class="card-body">
            <h5 class="card-title">SPOTIFY</h5>
        </div>
        </div>
        <div class="card">
          <button type="button" class="btn popover-right6" data-trigger="focus" data-toggle="popover" title="Sling" data-content="What the heck is Sling TV? It's a service that allows subscribers to watch a collection of live and on-demand TV channels on their TVs, computers, tablets or phones. This is live TV, just like a cable or satellite TV service, except it's streamed over the internet. What does Sling TV cost? Sling TV is available in two different flavors: Sling Orange and Sling Blue, both of which cost $30 per month on their own. Both used to cost $25 a piece, but a late 2019 price hike modified that. At present, Orange offers 32 channels, and Blue offers 47."> <img src="/img/sling.png" class="card-img-top" alt="sling"></button>
         
          <div class="card-body">
            <h5 class="card-title">SLING</h5>
        </div>
      </div>  
       </div>

      
</div>
<hr> 
<div class="container">
    <div class="header">
        <div><img src="/img/comment3.png" width="50px" height="50px"></div>
        <div class="text"><p class="yes">Leave a Comment</p></div>
    </div>

    <form method="POST" action="/postCommentStream">
        <div class="form-row">
          <div class="form-group col-md-4 mb-3">
            <label for="inputEmail4">Name</label>
            <input type="text"
            class="form-control"
            id="name"
            placeholder="name"
            name="name"
            required
            value="<%= typeof name != 'undefined' ? name : '' %>">
          </div>
          <div class="form-group col-md-4 mb-3">
            <label for="inputPassword4">Comment</label>
            <input type="text"
            class="form-control"
            id="comment"
            placeholder="comment"
            name="comment"
            required
            value="<%= typeof comment != 'undefined' ? comment : '' %>">
          </div>
        </div>
         
        <button type="submit" class="btn btn-primary">Do it!</button>
       
   
      </form>
    </div>

    <div class="detailBox">
        <% commentstreamejs.forEach(function(comment) { %>
      <div class="actionBox">
          <ul class="commentList">
              <li>
                  <div class="commenterImage">
                      <img src="/img/profile.png">
                  </div>
                  <div class="commentText">
                      <h5><%= comment.name %></h5>
                      <p class=""><%= comment.comment%></p> <span class="date sub-text">on <%= comment.date.toDateString()%></span>
  
                  </div>
              </li>
              
               
          </ul>
          

      </div>
      <% }) %>
  </div>
</div>
    