<div class="container">

    <h1>WHAT'S INTERNET?</h1>
    <h3>

      The internet is a global network of computers that works much like the postal system, only at sub-second speeds. Just as the postal service enables people to send one another envelopes containing messages, the internet enables computers to send one another small packets of digital data. For that to work, they use a common 'language' called TCP/IP (Transmission Control Protocol/Internet Protocol). If you are on the net, you have an IP address.
      Click on the images for information, click again to close the popover.</h3>
    <BR>
 
        <h3>Browsers</h3>
       <br>

       <div class="card-deck">
        <div class="card">
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal"> <img src="/img/chrome.jpg" class="card-img-top" alt="chrome"></button>

        <div class="card-body">
          <h5 class="card-title">CHROME</h5>
          <div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <h1><p class="gaptime">CHROME</p></h1>
                  <p class="gaptime">Google Chrome browser is an open source program for accessing the World Wide Web and running Web-based applications. The Google Chrome Web browser is based on the open source Chromium project. Google released Chrome in 2008 and issues several updates a year. It is available for Windows, Mac OS X, Linux, Android and iOS operating systems. The Google Chrome browser takes a sandboxing-based approach to Web security. Each open website runs as its own process, which helps prevent malicious code on one page from affecting others (or the computer operating system at large). The browser also supports Web standards such as HTML5 and cascading style sheets (CSS).</p>
                  <img src="/img/chromebrowser.png" alt="chromebrowser" class="card-img-top">
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
      </div>
        </div>

       

        <div class="card">
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal2"> <img src="/img/mozilla.jpg" class="card-img-top" alt="firefox"></button>
    
            <div class="card-body">
              <h5 class="card-title">FIREFOX</h5>
              <div class="modal fade bd-example-modal-lg" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <h1><p class="gaptime">FIREFOX</p></h1>
                      <p class="gaptime">Mozilla Firefox, or simply Firefox, is a free and open-source web browser developed by the Mozilla Foundation and its subsidiary, Mozilla Corporation. Firefox uses the Gecko layout engine to render web pages, which implements current and anticipated web standards. It is plug-in compatible meaning the browser is given the ability to add certain features to the browser to add new features or make existing features more convenient or intuitive. Generally fast web page downloads. Safe browsing gives added security against phishing attacks and malware.</p>
                      <img src="/img/mozillabrowser.png" alt="mozillabrowser" class="card-img-top">
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
            </div>


            <div class="card">
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal3"> <img src="/img/ie.png" class="card-img-top" alt="ie"></button>
        
                <div class="card-body">
                  <h5 class="card-title">INTERNET EXPLORER</h5>
                  <div class="modal fade bd-example-modal-lg" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <h1><p class="gaptime">INTERNET EXPLORER</p></h1>
                          <p class="gaptime">Internet Explorer is a series of graphical web browsers developed by Microsoft and included in the Microsoft Windows line of operating systems, starting in 1995. It was first released as part of the add-on package Plus! for Windows 95 that year. The browser was deprecated in Windows 10 in favor of Microsoft's new Edge Browser. It remains a part of the operating system even though it is no longer the default browser. </p>
                          <img src="/img/iebrowser.jpg" alt="iebrowser" class="card-img-top">
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
                </div>
       


        <div class="card">
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal4"> <img src="/img/opera.jpg" class="card-img-top" alt="opera"></button>

          <div class="card-body">
            <h5 class="card-title">OPERA</h5>
            <div class="modal fade bd-example-modal-lg" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <h1><p class="gaptime">OPERA</p></h1>
                    <p class="gaptime">Opera is a freeware web browser for Microsoft Windows, Android, iOS, macOS, and Linux operating systems, developed by Opera Software. Opera is a Chromium-based browser using the Blink layout engine. It differentiates itself because of a distinct user interface and other features. Opera is a good choice if you want to use the same browser on all your devices because it is compatible with smartphones, tablets and computers running all operating systems. It is well designed and has easy-to-use tools and good security options.</p>
                    <img src="/img/opera-split.png" alt="operabrowser" class="card-img-top">
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>

        </div>

        <div class="card">
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal5"> <img src="/img/safari.png" class="card-img-top" alt="safari"></button>

          <div class="card-body">
            <h5 class="card-title">SAFARI</h5>
            <div class="modal fade bd-example-modal-lg" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <h1><p class="gaptime">SAFARI</p></h1>
                    <p class="gaptime">Safari is a graphical web browser developed by Apple, based on the WebKit engine. First released on desktop in 2003 with Mac OS X Panther, a mobile version has been bundled with iOS devices since the iPhone's introduction in 2007. Safari is the default browser on Apple devices. As Apple's default browser, Safari has its advantages, such as built-in functionality to store your bookmarks and browsing history in iCloud, along with your usernames and passwords in iCloud Keychain, making it easy to log in and synchronize your browsing across all your Apple devices associated with your iCloud account.</p>
                    <img src="/img/safaribrowser.jpg" alt="safaribrowser" class="card-img-top">
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>

        </div>


        <div class="card">
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal6"> <img src="/img/edge.jpg" class="card-img-top" alt="edge"></button>

          <div class="card-body">
            <h5 class="card-title">MICROSOFT EDGE</h5>
            <div class="modal fade bd-example-modal-lg" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <h1><p class="gaptime">MICROSOFT EDGE</p></h1>
                    <p class="gaptime">Microsoft Edge is a free web browser rebuilt using the open-source Chromium project. Owing to the latest upgrade, Edge is now in the league of web browsers that directly compete with Google Chrome. Unlike its predecessor, Edge can be downloaded on multiple devices like Android, iOs, macOS, and all versions of Windows. Edge is one of the fastest browsers around, with load times even faster than Google Chrome. If you switched to Chrome for speed and efficiency, the new Microsoft Edge mobile app definitely puts Microsoft's web browser in the “worth a try” category. Cortana is Microsoft's version of Siri or Google Assistant.</p>
                    <img src="/img/edgebrowser.jpg" alt="edgebrowser" class="card-img-top">
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>

        </div>

       </div>

      
</div>
<br>

                              <hr> 
                              <div class="container">
                                  <div class="header">
                                      <div><img src="/img/comment3.png" width="50px" height="50px"></div>
                                      <div class="text"><p class="yes">Leave a Comment</p></div>
                                  </div>
                              
                                  <form method="POST" action="/postCommentNet">
                                      <div class="form-row">
                                        <div class="form-group col-md-4 mb-3">
                                          <label for="inputEmail4">Name</label>
                                          <input type="text"
                                          class="form-control"
                                          id="name"
                                          placeholder="name"
                                          name="name"
                                          required
                                          value="<%= typeof name != 'undefined' ? name : '' %>">
                                        </div>
                                        <div class="form-group col-md-4 mb-3">
                                          <label for="inputPassword4">Comment</label>
                                          <input type="text"
                                          class="form-control"
                                          id="comment"
                                          placeholder="comment"
                                          name="comment"
                                          required
                                          value="<%= typeof comment != 'undefined' ? comment : '' %>">
                                        </div>
                                      </div>
                                       
                                      <button type="submit" class="btn btn-primary">Do it!</button>
                                     
                                 
                                    </form>
                                  </div>
    <div class="detailBox">
      <% commentnetejs.forEach(function(comment) { %>
        <div class="actionBox">
            <ul class="commentList">
                <li>
                    <div class="commenterImage">
                        <img src="/img/profile.png">
                    </div>
                    <div class="commentText">
                        <h5><%= comment.name %></h5>
                        <p class=""><%= comment.comment%></p> <span class="date sub-text">on <%= comment.date.toDateString()%></span>
    
                    </div>
                </li>
                
                 
            </ul>
            
  
        </div>
        <% }) %>
    </div>



<script type="text/javascript" src="https://js.pusher.com/3.2/pusher.min.js"></script>

<script>

(function() {

Pusher.logToConsole = true;

var serverUrl = "http://localhost:5000/",
comments = [],
pusher = new Pusher('79623ee5989e95555a5c', {
  cluster: 'eu',
  encrypted: true
}),

channel = pusher.subscribe('flash-comments'),
commentForm = document.getElementById('comment-form'),
commentsList = document.getElementById('comments-list'),
commentTemplate = document.getElementById('comment-template');


channel.bind('new_comment',newCommentReceived);


commentForm.addEventListener("submit", addNewComment);


function newCommentReceived(data){
var newCommentHtml = commentTemplate.innerHTML.replace('{{name}}',data.name);
newCommentHtml = newCommentHtml.replace('{{email}}',data.email);
newCommentHtml = newCommentHtml.replace('{{comment}}',data.comment);
var newCommentNode = document.createElement('div');
newCommentNode.classList.add('comment');
newCommentNode.innerHTML = newCommentHtml;
commentsList.appendChild(newCommentNode);
}


function addNewComment(event){
event.preventDefault();
var newComment = {
"name": document.getElementById('new_comment_name').value,
"email": document.getElementById('new_comment_email').value,
"comment": document.getElementById('new_comment_text').value
}

var xhr = new XMLHttpRequest();
xhr.open("POST", serverUrl+"comment", true);
xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
xhr.onreadystatechange = function () {
if (xhr.readyState != 4 || xhr.status != 200) return;

// On Success of creating a new Comment
console.log("Success: " + xhr.responseText);
commentForm.reset();
};
xhr.send(JSON.stringify(newComment));
}

})();

</script>